appdirs==1.4.3
asn1crypto==0.24.0
autopep8==1.4.4
Brlapi==0.6.7
certifi==2018.8.24
chardet==3.0.4
chrome-gnome-shell==0.0.0
colorful==0.5.4
configobj==5.0.6
cryptography==2.6.1
cupshelpers==1.0
decorator==4.4.1
distro==1.3.0
distro-info==0.21
dogpile.cache==0.9.0
entrypoints==0.3
httplib2==0.11.3
idna==2.6
iso8601==0.1.12
jmespath==0.9.4
jsonpatch==1.24
jsonpointer==2.0
keyring==17.1.1
keyrings.alt==3.1.1
keystoneauth1==3.18.0
louis==3.8.0
Mako==1.0.7
MarkupSafe==1.1.0
munch==2.5.0
netaddr==0.7.19
netifaces==0.10.9
olefile==0.46
openstacksdk==0.38.0
os-service-types==1.7.0
pbr==5.4.4
pexpect==4.6.0
Pillow==5.4.1
prettyprinter==0.18.0
psutil==5.5.1
pycairo==1.16.2
pycodestyle==2.5.0
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
Pygments==2.5.2
PyGObject==3.30.4
PySimpleSOAP==1.16.2
pysmbc==1.0.15.6
python-apt==1.8.4
python-debian==0.1.35
python-debianbts==2.8.2
pyxdg==0.25
PyYAML==5.2
reportbug===7.5.3-deb10u1
reportlab==3.5.13
requests==2.21.0
requests-futures==1.0.0
requestsexceptions==1.4.0
SecretStorage==2.3.1
six==1.12.0
stevedore==1.31.0
unattended-upgrades==0.1
urllib3==1.24.1
